@media screen and (min-width: 1200px) {
  body {
    background: #e1e1e1;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    background: #24c6dc; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #514a9d, #24c6dc); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #514a9d,
      #24c6dc
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .app {
    margin-top: 80px;
  }

  .main {
    background-image: url('../../public/backgrounds/winter-day-desktop.png');
    // background-color: blue;
  }

  .top-bar {
    display: flex;
    flex-direction: row;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    background-color: #272727;
    justify-content: space-between;
    align-items: center;
  }

  .side-bar {
    background-color: rgb(59, 59, 59);
    //background-color: #272727;
  }

  .bottom-bar {
    //background-color: rgb(59, 59, 59);
    background-color: #272727;
  }

  //========================================================================
  // Weather Info Box
  //========================================================================

  .container {
    width: 1100px;
    height: 40rem;
    background-color: azure;
    // margin: 0 auto;
    border-radius: 10px;
    padding-bottom: 0;
    filter: drop-shadow(0 0 0.75rem rgba(26, 24, 25, 0.688));
    color: #ffd868;
  }

  //========================================================================
  // Grid Areas
  //========================================================================

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px repeat(2, 1fr) 0.75fr;
    grid-template-areas:
      'topbar  topbar  topbar  topbar'
      'sidebar main    main    main'
      'sidebar main    main    main'
      'sidebar bottom  bottom  bottom';

    .side-bar {
      grid-area: sidebar;
    }

    .top-bar {
      grid-area: topbar;
    }

    .main {
      grid-area: main;
    }

    .bottom-bar {
      grid-area: bottom;
    }
  }

  .geo-notification {
    background-color: #f8d7da;
    color: #721c24;
    font-size: 1.2em;
    margin: 0;

    padding: 10px 0;
  }

  .geo-notification p {
    color: #721c24;
    font-size: 1.2em;
    margin: 0;

    padding: 10px 0;
  }

  .weather-container {
    height: 260px;
  }

  .weather-icon {
  }

  .weather-icon img {
    display: block;
    margin: 0 auto;
    height: 120px;
    width: 120px;
  }

  .temperature-value {
    width: 300px;
    height: 3.75rem;
    margin: 0;
    font-size: 4em;
  }

  .temperature-value span {
    font-size: 0.75em;
  }

  .temperature-description {
    padding: 8px;
    margin: 0;
    color: #ffd868;
    font-size: 1.7em;
    padding-top: 24px;
  }

  .location p {
    margin: 0;
    padding: 0;
    color: #ffd868;
    padding-top: 20px;
    font-size: 1.9em;
  }

  //========================================================================
  // Top Bar
  //========================================================================

  // Search Bar & Button //

  .search {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-left: 10px;
  }

  .search-bar {
    -webkit-appearance: none;
    display: inline-block;
    font-size: 1.6em;
    width: 16.75rem;
    margin-right: 3px;
    margin-bottom: 4px;
    outline: 0;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid #ffd9689d;
    color: #ffd868;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffd868;
    opacity: 1; /* Firefox */
  }

  .search-button {
    position: relative;
    font-size: 1em;
    background-color: transparent;
    border: 0;
    filter: drop-shadow(0 0 0.45rem crimson);
    left: 3px;
    z-index: 1;
  }

  .fa-magnifying-glass {
    font-size: 1.6em;
    // color: rgba(255, 255, 255, 0.644);
    color: #ffd868;
  }

  // Date //

  .display-date {
    position: relative;
    color: #ffd868;
    display: inline-block;
    font-size: 24px;
    right: 20px;
  }

  // time //
  .clock {
    display: block;
    color: #ffd868;
    font-size: 24px;
  }

  .weather-data {
    font-size: 1rem;
  }
}

//========================================================================
// Bottom Bar
//========================================================================

.forecastContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.forecastCard {
  height: 140px;
  width: 140px;
  background-color: red;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(59, 59, 59, 0.336);
}

.forecastIcon img {
  position: relative;
  height: 75px;
  margin: 0 auto;
  bottom: 5px;
}

.forecastTemp {
  text-align: center;
  font-size: 1.8rem;
}

.forecastDay {
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  bottom: 10px;
}
