* {
  box-sizing: border-box;
  padding: 0;
}

body {
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
}

//========================================================================
// Search Bar & Button
//========================================================================

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4rem;
}

.search-bar {
  font-size: 1.6em;
  width: 16.75rem;
  justify-content: center;
  margin-right: 5px;
  outline: 0;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.search-button {
  font-size: 1em;
  background-color: transparent;
  border: 0;
}

.fa-magnifying-glass {
  font-size: 1.6em;
  color: white;
}

//========================================================================
// Weather Info Box
//========================================================================

.container {
  width: 18.75rem;
  height: 40rem;
  background-color: azure;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 10px;
  padding-bottom: 3.125rem;
}

.app-title {
  width: 18.75rem;
  height: 3.125rem;
  border-radius: 10px 10px 0 0;
}

.app-title p {
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 1.6em;
  color: #293251;
}

.geo-notification {
  background-color: #f8d7da;
  display: none;
}

.geo-notification p {
  color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.weather-container {
  width: 18.75rem;
  height: 260px;
  background-color: #f4f9ff;
}

.weather-icon {
  width: 18.75rem;
  height: 8rem;
}

.weather-icon img {
  display: block;
  margin: 0 auto;
  width: 9rem;
}

.temperature-value {
  width: 18.75rem;
  height: 3.75rem;
  margin: 0;
  text-align: center;
  font-size: 4em;
}

.temperature-value span {
  color: #293251;
  font-size: 0.75em;
}

.temperature-description {
  padding: 8px;
  margin: 0;
  color: #293251;
  text-align: center;
  font-size: 1.7em;
  padding-top: 24px;
}

.location p {
  margin: 0;
  padding: 0;
  color: #293251;
  text-align: center;
  font-size: 1.9em;
}

// date + time
