* {
    box-sizing: border-box;
    padding: 0;
}

 body{
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
 }

 .container {
    width: 18.75rem;
    background-color: azure;
    display: block;
    margin: 0 auto;
    margin-top: 6.25rem;
    border-radius: 10px;
    padding-bottom: 3.125rem;
 }

 .app-title {
    width: 18.75rem;
    height: 3.125rem;
    border-radius: 10px 10px 0 0;
 }

.app-title p {
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.6em;
    color: #293251;
}

.weather-icon {
    width: 70px;
    height: 70px;
    color: red;
}

.geo-notification {
    background-color: #f8d7da;
}

.geo-notification {
    background-color: #f8d7da;
}
